# Python
.venv

# migrations
**/migrations/*
!**/migrations/__init__.py

# Python Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
.env
media

# Python Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 